{% extends "student/dashboard.html" %}

{% block title %} Exam Schedule {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">
  <div class="card card-plain">
    <div class="card-header card-header-success">
      <h4 class="card-title">Today's Schedule</h4>
      <p class="card-category">*Venue updated an hour before exam</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card-body">
          <div class="text-success">
            {% for exam in exams %}
              {% if exam.is_today %}
              <div class='card w-50 p-3 pl-4'>
                <br />
                <h5><b>Course Name:</b> {{exam.course.course_name}}</h3>
                <h5><b>Course Code:</b> {{exam.course.course_code}}</h4>
                <h5><b>Start Time:</b> {{exam.start_time}}</h5>
                <h5><b>End Time:</b> {{exam.end_time}}</h5>
                <h5><b>Venue:</b> {% if exam.venue %}{{exam.venue.name}}{%else%}Venue not set{% endif %}</h5>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
