{% extends "admin/dashboard.html" %}
{% load widget_tweaks %}
{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<h1>Welcome back</h1>
<div class="row">
  <div class="col-md-6">
    <div class="card card-stats">
      <div class="card-header _card-header-info _card-header-icon pb-3">
        {% comment %} <div class="card-icon">
          <i class="material-icons">content_copy</i>
        </div> {% endcomment %}
        <h3 class="_card-category text-success">Select School</h3>
        {% comment %} <h3 class="card-title">9/9
          <small>courses</small>
        </h3> {% endcomment %}
        <div class="card-body">
        <form method="POST" action="">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                {% render_field adminForm.school class='form-control' %}
              </div>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-info">Save</button>
            </div>
          </div>
        </form>
      </div>
      </div>
      {% comment %} <div class="card-footer">
        <div class="stats">
          <i class="material-icons text-warning">info_outline</i>
          <a href="{% url 'student-timetable' %}">More info...</a>
        </div>
      </div> {% endcomment %}
    </div>
  </div>
  {% comment %} <div class="col-md-4">
    <div class="card card-chart">
      <div class="card-header card-header-success">
        <div class="card-icon" style='background: white; font-size: 2rem; padding: 1.3rem;'>
          <i class="fa fa-bookmark text-success"></i>
        </div>
      </div>
      <div class="card-body">
        <p class="card-category" style="font-size: 1.2rem;">
          <span class="text-success"><i class="fa fa-forward"></i> </span>Up Next</p>
        <h3 class="card-title">COM 220</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">access_time</i>Just updated
        </div>
      </div>
    </div>
  </div> {% endcomment %}
</div>
<div class="row">
  {% for course in courses %}
  
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <i class="fa fa-book"></i>
        </div>
        <h4 class="card-title">{{course.course_code}}</h4>
        <p class="card-title">{{course.course_name}}</p>
      </div>
      <div class="card-footer">
        <div class="stats">
          {% comment %} <i class="material-icons">update</i> Just Updated {% endcomment %}
        </div>
      </div>
    </div>
  </div> 
  
  {% endfor %}

</div>
<br />
<br />

<div class="row">
  <div class="col-lg-6 col-md-12">
    
  </div>
</div>

{% endblock content %}

{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
