{% extends "admin/admin-dashboard.html" %} 
{% load static %}
{% load widget_tweaks %}

{% block title %} Student {% endblock %}

{% block stylesheets %}{% endblock stylesheets %} 

{% block content %}

<div class="row">
  <div class="col-md-4">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="">
          <img class="img" src="/static/assets/img/yabatech.jpg" />
          {% comment %} <img class="img" src="{% static student.profile_pic.path %}" alt="Profile" /> {% endcomment %}
        </a>
      </div>
      <div class="card-body">
        <h4 class="card-title text-uppercase">Username: {{ request.user.username }}</h4>
        <h6 class="card-category text-gray">{{ matric_no }}</h6>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-success">
        <h4 class="card-title">Edit Profile</h4>
        <p class="card-category">Complete your profile</p>
      </div>
      <div class="card-body">
        {% if userForm_errors %}
          <ul class="errorlist error">
            {% for error in userForm_errors %}
              <li>{{ error.code }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <form method="POST" action="" class='mt-5'>
          {% csrf_token %}
          
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label class="bmd-label-floating">ID</label>
                {% render_field userForm.username class='form-control' %}
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <label class="bmd-label-floating">Email address</label>
                {% render_field userForm.email class='form-control' %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Fist Name</label>
                {% render_field userForm.first_name class='form-control' %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Last Name</label>
                {% render_field userForm.last_name class='form-control' %}
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-info pull-right">
            Update Profile
          </button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}
